body{
    background-color: #ccffff;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 60%;
    margin-left: 200px;
    margin-right: 100px;
    display:none;
    border-style:groove;
  }
  
  .col-25 {    
    float: left;    
    width: 25%;    
    margin-top: 6px;    
  }    
      
  .col-75 {    
    float: left;    
    width: 75%;    
    margin-top: 6px;    
    
  }    
  
  .container1 {    
    border-radius: 5px;    
    background-color: #f2f2f2;    
    padding-left: 100px;
    margin-left: 100px;
    margin-right: 100px;
    width:60%;    
    
  }    
  
  .circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #4984e2;
    position:relative;
  }
    
  .sections{
    height: 270px;
    border-color: #111;
    border:1px;
    border-style: groove;
    padding-left: 40px;
    padding-right: 40px;
    width:130px;
    /* display:inline-block; */
    margin:40px;
  }
  
  .circle-txt {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: arial, sans-serif;
    font-weight: bold;
  }
  
  .collapsible {
    background-color: rgb(7, 7, 7);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 61%;
    border:none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 100px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .image{
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .feedback{
    background-color: rgb(255, 208, 208);
    color: rgb(17, 2, 85);
    width: 65%;
    margin-left: 100px;
    font-size: 15px;
    padding: 18px;
  }
  .contain{
    display:flex;
    width:100%;
    margin:0 auto;
  }